 <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">

 <h3> Welcome to
<i class="fas fa-book"></i>
Bookers!</h3><br>


<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
